.smallContainer {
    margin-top: 5rem;
    max-width: 800px;
    margin: auto;
}
@media screen and (max-width: 1600px) {
    .smallContainer{
      max-width: 500px;
      padding-top: 0;
    }
    .smallContainer h1{
      margin-top: 0;
      margin-bottom: 0;
      font-size: 2rem;
    }
    .smallContainer input[type=text]{
      padding: 8px;
    }
    .smallContainer label{
        margin-bottom: 0;
      }
  }