.homepage label{
    margin: 10px 0;
    font-size: 2rem;
}
.homepage{
    height: 100vh;
    padding: 0;
}
.homepage button{
    margin-top: 1rem;
    background: transparent;
    color: #404040;
    transition: all 0.5s all;
}
.homepage button:hover{
    background: rgba(0,0,204,0.1);
}
.homepageContainer{
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transform: translateY(30vh);
}
.imageContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.imageContainer img{
    width: 150px;
    height: 150px;
    object-fit: cover;
}
.search-bar input, .search-bar input:hover, .search-bar input:focus{
    border: none;
    outline: none;
}
.search-box{
    width: 600px;
    background: rgb(222, 222, 222);
    margin: 200px auto 0;
    border-radius: 5px;
}
.roww{
    display: flex;
    align-items: center;
    padding: 10px 20px;
}
.search-box input{
    flex: 1;
    height: 50px;
    background: transparent;
    border: 0;
    outline: 0;
    font-size: 18px;
    color: #333;
}
.search-bar{
    display: flex;
    font-size: 18px;
}

.result-box{
    max-height: 40vh;
    border-radius: 12px;
    overflow-y: scroll;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 204, 0.7);
}

.result-box ul{
    border-top: 1px solid #999;
    padding: 5px 0;
    margin: 0;
}
.result-box::-webkit-scrollbar
{
	display: none;
}
.result-box ul li{
    font-size: 14px;
    list-style: none;
    border-radius: 3px;
    padding: 10px 10px;
    cursor: pointer;
    border: 1px solid #0000cc;
    margin: 0.5rem;
    letter-spacing: 3px;
    transition: all 0.4s ease;
}
.result-box ul li:hover{
    color: rgb(225, 225, 225);
    background: #404040;
    color: white;
}
.homepage a{
    color: inherit;
    text-decoration: none;
    transition: all 0.5s ease;
}

@media screen and (max-width: 1500px) {
    
  }

@media screen and (max-width: 1300px) {
    .homepage label {
      font-size: 1.4rem;
    }
    .result-box ul li{
        font-size: 12px;
    }
    .homepageContainer{
        transform: translateY(15vh);
    }
  }
@media screen and (max-width: 400px) {
    .homepageContainer label{
        text-align: center;
    }
  }
@media screen and (max-height: 1000px) {
    .homepageContainer{
        transform: translateY(10vh);
    }
  }
@media screen and (max-height: 720px) {
    .homepageContainer{
        transform: translateY(2vh);
    }
  }